
<h1>Categories with Highest Stock</h1>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Total Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Category</td>
                <td>@item.TotalStock</td>
            </tr>
        }
    </tbody>
</table>
